.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.endNavContainer {
  display: flex;
  align-items: center;
  color: #fff;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  opacity: 0.5;
}

.active {
  > .navMenu {
    font-weight: 700;
    color: white;
    opacity: 1;
  }
}
